<!-- 
  <div class="form-card">
    <h3>Agregar rol</h3>

    <div class="form-grid">
      <div class="field">
        <label class="required">Nombre</label>
        <input pInputText [(ngModel)]="nombre" placeholder="Nombre del rol" />
      </div>

      <div class="field field-full">
        <label>Descripción</label>
        <input pInputText [(ngModel)]="descripcion" placeholder="Descripción del rol" />
      </div>
    </div>

    <div class="actions">
      <p-button label="Guardar rol" icon="pi pi-check" (click)="guardarRol()"></p-button>
    </div>
  </div> -->