.header-start {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.header-user {
  display: flex;
  align-items: center;
  gap: 12px;
  
}

.user-info {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.user-info span {
  font-size: 14px;
  font-weight: 600;
}

.user-info small {
  font-size: 12px;
  color: var(--p-text-muted-color);
}

.menu-button {
  display: none;
}

@media (max-width: 768px) {

  .menu-button {
    display: inline-flex;
  }

}