<p-toolbar>

  <ng-template #start>

    <div class="header-start">

      <!-- Hamburguesa -->
      <p-button
        icon="pi pi-bars"
        [text]="true"
        [rounded]="true"
        (click)="openMenu()"
        class="menu-button">
      </p-button>

      <span class="title">
        Punto de Venta
      </span>

    </div>

  </ng-template>


  <ng-template #end>

    <div class="header-user">

      <div class="user-info">
        <span>{{usuario.name}}</span>
        <small>{{usuario.role.name}}</small>
      </div>

      <p-avatar
        label="JF"
        shape="circle">
      </p-avatar>

    </div>

  </ng-template>

</p-toolbar>