<p-dialog [header]="modoEdicion ? 'Editar subcategoría' : 'Agregar nueva subcategoría'" [modal]="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
	[visible]="true" [style]="{ width: '50rem' }" [draggable]="false" (onHide)="cerrarDialog()">
	<div class="form-subcategoria">
		<div class="section">
			<h3>Información de la subcategoría</h3>
			<div class="form-grid">
				<div class="field">
					<label class="required">Nombre</label>
					<input pInputText [(ngModel)]="subcategoria.nombre" placeholder="Nombre de la subcategoría" required />
				</div>
                <div class="field">

                    <label class="required">Categoría</label>

                    <p-select
                        [options]="categorias.data"
                        [(ngModel)]="subcategoria.categoriaId"
                        optionLabel="nombre"
                        optionValue="id"
                        placeholder="Selecciona una categoría"
                        [filter]="true"
                        filterBy="nombre"
                        [showClear]="true"
                        appendTo="body"
                        class="w-full"
                    />

                </div>
				<div class="field field-full">
					<label>Descripción</label>
					<input pInputText [(ngModel)]="subcategoria.descripcion" placeholder="Descripción de la subcategoría" />
				</div>
			</div>
		</div>
	</div>
	<ng-template #footer>
		<p-button [label]="modoEdicion ? 'Actualizar subcategoría' : 'Guardar subcategoría'" icon="pi pi-check" (click)="guardarSubcategoria()"></p-button>
	</ng-template>
</p-dialog>
