<p-dialog
  [header]="modoEdicion ? 'Editar Categoria' : 'Agregar Nueva Categoria'"
  [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [visible]="true"
  [style]="{ width: '50rem' }"
  [draggable]="false"
  (onHide)="cerrarDialog()"
>

  <div class="form-producto">

    <div class="section">

      <h3>Información de la Categoria</h3>

      <div class="form-grid">

        <div class="field ">

          <label class="required">Nombre</label>

          <input
            pInputText
            [(ngModel)]="categoria.nombre"
            placeholder="Nombre de la Categoria"
            required
          />

        </div>

        <div class="field field-full">

          <label>Descripcion</label>

          <input
            pInputText
            [(ngModel)]="categoria.descripcion"
            placeholder="Descripcion de la Categoria"
          />

        </div>

      </div>

    </div>

  </div>

  <ng-template #footer>
    <p-button
      [label]="modoEdicion ? 'Actualizar categoria' : 'Guardar categoria'"
      icon="pi pi-check"
      (click)="guardarCategoria()"
    />

  </ng-template>

</p-dialog>