<p-dialog
  header="Agregar Nuevo Producto"
  [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [visible]="true"
  [style]="{ width: '50rem' }"
  [draggable]="false"
  (onHide)="cerrarDialog()"
>

  <div class="form-producto">

    <div class="section">

      <h3>Información del producto</h3>

      <div class="form-grid">

        <div class="field field-full">

          <label class="required"><i class="pi pi-align-left"></i>Nombre del Producto</label>

          <input
            pInputText
            [(ngModel)]="producto.nombre"
            placeholder="Descripcion del producto"
            required
          />

        </div>

        <div class="field">

          <label><i class="pi pi-key"></i>Clave</label>

          <input
            pInputText
            [(ngModel)]="producto.clave"
            placeholder="Ej. PROD-001"
          />

        </div>

        <div class="field">

          <label><i class="pi pi-barcode"></i>Código de barras</label>

          <input
            pInputText
            [(ngModel)]="producto.codigoBarra"
            placeholder="Código de barras"
          />

        </div>

      </div>

    </div>


    <div class="section">

      <div class="form-grid">

        <div class="field">

          <label class="required"><i class="pi pi-tags"></i>Categoría</label>
            <p-select
              [options]="categorias"
              [(ngModel)]="producto.categoriaId"
              (ngModelChange)="actualizarSubcategorias()"
              optionLabel="nombre"
              optionValue="id"
              placeholder="Selecciona una categoría"
              [filter]="true"
              filterBy="nombre"
              [showClear]="true"
              appendTo="body"
              class="w-full"
          />
      </div>

        <div class="field">
          <label><i class="pi pi-tag"></i>Subcategoría</label>

          <p-select
            [options]="subcategoriasDisponibles"
            [(ngModel)]="producto.subCategoriaId"
            optionLabel="nombre"
            optionValue="id"
            placeholder="Selecciona una subcategoría"
            [filter]="true"
            filterBy="nombre"
            [showClear]="true"
            [disabled]="!producto.categoriaId"
            appendTo="body"
            class="w-full"
          />
        </div>

        <div class="field">
          <label><i class="pi pi-calculator"></i>Unidad de medida</label>

          <p-select
            [options]="unidadesDeMedida"
            [(ngModel)]="producto.unidadMedidaId"
            optionLabel="abreviatura"
            optionValue="id"
            placeholder="Selecciona una unidad"
            [filter]="true"
            filterBy="nombre"
            [showClear]="true"
            appendTo="body"
            class="w-full"
          />
        </div>

          <div class="field">
          <label><i class="pi pi-expand"></i>Tamaño</label>

        <input
            pInputText
            [(ngModel)]="producto.tamano"
            placeholder="Tamaño del Producto"
            min="0"
            required
          />
        </div>
             <div class="field">
          <label class="required"><i class="pi pi-dollar"></i>Costo</label>

          <input
            pInputText
            type="number"
            [(ngModel)]="producto.precio"
            placeholder="$0.00"
            min="0"
            step="0.01"
            required
          />
        </div>

        <div class="field">
          <label><i class="pi pi-truck"></i>Proveedor</label>

          <p-select
            [options]="proveedores"
            [(ngModel)]="producto.proveedorId"
            optionLabel="nombre"
            optionValue="id"
            placeholder="Selecciona un proveedor"
            [filter]="true"
            filterBy="nombre"
            [showClear]="true"
            appendTo="body"
            class="w-full"
          />
        </div>

      

        <div class="field">
          <label><i class="pi pi-bookmark"></i>Marca</label>

          <p-select
            [options]="marcas"
            [(ngModel)]="producto.marcaId"
            optionLabel="nombre"
            optionValue="id"
            placeholder="Selecciona una marca"
            [filter]="true"
            filterBy="nombre"
            [showClear]="true"
            appendTo="body"
            class="w-full"
          />
        </div>
     

      </div>

    </div>

  </div>

  <ng-template #footer>
    <p-button
      label="Guardar producto"
      icon="pi pi-check"
      (click)="guardarProducto()"
    />

  </ng-template>

</p-dialog>