<div class="menu-container">

  <div class="menu-header">
    <div class="logo">
      PV
    </div>

    <div class="brand">
      <span>Punto de Venta</span>
      <small>Administración</small>
    </div>
  </div>
 <div class="brand-center">
  <p-button label="Nueva Venta" icon="pi pi-plus-circle" (click)="irVenta()" ></p-button>
 </div>

  

  <div class="menu-content">
    <p-panelMenu [model]="items" />
  </div>
<div class="menu-footer">

    <p-menu [model]="logoutItems"></p-menu>

  </div>

</div>